.movies-card-list {
    max-width: 100%;
}

.movies-card-list__list {
    display: grid;
    padding: 0;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 30px;
    margin-top: 70px;
}

.movies-card-list__more {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #424242;
    border-radius: 6px;
}