.seacrh-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto 0;
    transition-property: width;
    transition-duration: 600ms;
}

.seacrh-form__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seacrh-form__input {
    border-radius: 8px;
    background: #2F2F2F;
    border: none;
    width: 100%;
    padding: 16px 0 16px 20px;

    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-right: 10px;
    transition-property: width, padding;
    transition-duration: 600ms;
}

.seacrh-form__button {
    padding: 0;
    border: none;
    background-image: url(../../images/find-3.svg);
    width: 44px;
    height: 44px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    .seacrh-form {
        width: 97.33%;
        
    }

    .seacrh-form__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .seacrh-form__input {
        width: 81.5%;
        padding: 13px 0 13px 13px;
    }
}