.navigation-auth__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 426px;
    padding: 0;
}

.navigation-auth__item {
 display: flex;
 align-items: center;
}

.navigation-auth__link_movies {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-right: 16px;
}

.navigation-auth__link_saved-movies {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-right: 366px;
}

.navigation-auth__link_profile {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    padding: 8px 20px;
    background-color: #313131;
    border-radius: 20px;
}